:root{
    --bg-color:#f0f2f5;
    --bg-contas:#f5f6f7;
    --bg-input:#e8f0fe;
    --bg-contas-white:#ffffff;
    --logo-color:#488cfc;
    --text-title-color:#333333;
    --text-color:#696970;
    --btn-iniciar-sessao:#0866ff;
    --btn-criar-conta:#42b72a;
}

body{
    height: 100vh;
    width: 98vw;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
}

.acessos_recentes{
    width: 586px;
    height: 463px;
}

.acessos_recentes > #logo{
    font-size: 2.7em;
    color: var(--logo-color);
}

.acessos_recentes > #title{
    font-size: 2.3em;
    color: var(--text-color);
}

.contas{

    display: flex;
    width: 536px;
    height: 226px;
}

.conta_logada{
    width: 160px;
    height: 160px;
    margin-right: 15px;
    background-color: var(--bg-contas);
    border: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row{
    margin-right: 10px;
}

.adicionar_conta{
    width: 160px;
    height: 160px;
    background-color: var(--bg-contas);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title_conta{
    height: 46px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-contas-white);
}

.title_conta > #blue{
    color: var(--logo-color);
}

.iniciar_sessao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iniciar_sessao > .form_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 396px;
    padding: 20px;
    background-color: var(--bg-contas-white);
}

.form-group{
   margin-bottom: 15px;

}

.form-control{
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: var(--bg-input);
    width: 363px;
    height: 51px;
}

.pass-group{
    display: flex;
}

.pass-group button{
    background: none;
    border: none;
}

#btn_iniciar_sessao{
    width: 364px;
    height: 48px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 1.5em;
    color: var(--bg-contas-white);
    background-color: var(--btn-iniciar-sessao);
}

#text_esqueceu_senha{
    color: var(--btn-iniciar-sessao);
}

#border{
    width: 400px;
    border: 1px var(--text-color) solid;
}

#btn_criar_conta{
    width: 154px;
    height: 48px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 1.5em;
    color: var(--bg-contas-white);
    background-color: var(--btn-criar-conta);
}